<launch>
    <!-- LAUNCHES RVIZ, LOADS THE NECESSARTY CONFIGURATIONS, THE ROBOT STATE PUBLISHER AND THE HORIZON SOLVER -->

    <arg name="prefix" default=""/>
    <arg name="gui" default="true"/>

    <group if="$(eval arg('gazebo_model_type')=='fixed_hip')">
        <param name="robot_description" textfile="$(find awesome_leg_pholus)/description/urdf/awesome_leg_complete_fixed.urdf"/>
    </group>
    <group if="$(eval arg('gazebo_model_type')=='sliding_hip')">
        <param name="robot_description" textfile="$(find awesome_leg_pholus)/description/urdf/awesome_leg_complete.urdf"/>
    </group>
    <group if="$(eval arg('gazebo_model_type')=='sliding_all')">
        <param name="robot_description" textfile="$(find awesome_leg_pholus)/description/urdf/awesome_leg_complete_sliding_all.urdf"/>
    </group>
    <group if="$(eval arg('gazebo_model_type')=='sliding_all_underact')">
        <param name="robot_description" textfile="$(find awesome_leg_pholus)/description/urdf/awesome_leg_complete_sliding_all.urdf"/>
    </group>

    <node if="$(arg gui)"
            type="rviz"
            name="rviz"
            pkg="rviz"
            args="-d $(find awesome_leg_pholus)/rviz/rviz_standalone.rviz"/>
            output="screen"/>
    
    <!-- Simply load all the necessary parameters into the parameter server -->
    <include file="$(find awesome_leg_pholus)/launch/load_params.launch" pass_all_args="true"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
    <param name="publish_default_efforts" value="True"/>
    </node>

    <!-- Launching the horizon solver node; this is used to compute the optimized trajectory/inputs -->
    <include file="$(find awesome_leg_pholus)/launch/horizon_solver.launch"  pass_all_args="true"/>

</launch>
