<launch>
  <!-- LAUNCHES THE HORIZON SOLVER, based on the input arguments -->

  <arg name="task_type" default="trot" /> <!-- task of which to load arguments. Allowed values: "jump", "trot" -->
  <arg name="trot_type" default="fixed_hip" /> <!-- trot type to be solved. Allowed values: "sliding_hip", "sliding_all" -->

  <group if="$(eval arg('task_type')=='jump')">
    <!-- loading some horizon solver parameters-->
  <node name="horizon_leg_solver" pkg="awesome_leg_pholus" type="horizon_jump.py" />
  </group>
  <group if="$(eval arg('task_type')=='trot')">
    <!-- loading some horizon solver parameters-->
    <group if="$(eval arg('trot_type')=='fixed_hip')">
      <node name="horizon_leg_solver" pkg="awesome_leg_pholus" type="horizon_trot_fixed_hip.py" output="screen"/>
    </group>
    <group if="$(eval arg('trot_type')=='sliding_hip')">
      <node name="horizon_leg_solver" pkg="awesome_leg_pholus" type="horizon_trot_sliding_hip.py" output="screen"/>
    </group>
    <group if="$(eval arg('trot_type')=='sliding_all')">
      <node name="horizon_leg_solver" pkg="awesome_leg_pholus" type="horizon_trot_sliding_all.py" output="screen"/>
    </group>
  </group>

</launch>