<launch>

  <!-- LOADS THE PARAMETERS, GAZEBO AND THE HORIZON SOLVER LAUNCH FILES -->

  <!-- Simply load all the necessary parameters into the parameter server -->
  <include file="$(find awesome_leg_pholus)/launch/load_params.launch" pass_all_args="true"/>

  <!-- Simply launch Gazebo, with the custom world file and spawn the model, while preserving all the arguments of the source launch file -->
  <include file="$(find awesome_leg_pholus)/launch/gazebo.launch" pass_all_args="true" />

  <!-- Launching the horizon solver node; this is used to compute the optimized trajectory/inputs -->
  <include file="$(find awesome_leg_pholus)/launch/horizon_solver.launch"  pass_all_args="true"/>

  <!-- Launching the horizon-xbot2 publisher  -->
  <!-- <include file="$(find awesome_leg_pholus)/launch/horizon_pub.launch" /> -->

</launch>
