<launch>

    <arg name="prefix" default=""/>
    <arg name="gui" default="true"/>

    
    <group if="$(eval arg('gazebo_model_type')=='fixed_hip')">
        <param name="robot_description" textfile="$(find awesome_leg_pholus)/description/urdf/awesome_leg_complete_fixed_hip.urdf"/>
    </group>
    <group if="$(eval arg('gazebo_model_type')=='sliding_hip')">
        <param name="robot_description" textfile="$(find awesome_leg_pholus)/description/urdf/awesome_leg_complete.urdf"/>
    </group>
    <group if="$(eval arg('gazebo_model_type')=='sliding_all')">
        <param name="robot_description" textfile="$(find awesome_leg_pholus)/description/urdf/awesome_leg_complete_sliding_all.urdf"/>
    </group>


    <node if="$(arg gui)"
            type="rviz"
            name="rviz"
            pkg="rviz"
            args="-d $(find awesome_leg_pholus)/rviz/rviz_standalone.rviz"/>
            output="screen"/>
    
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen">
    <param name="publish_default_efforts" value="True"/>
    </node>
    <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> -->  <!-- uncomment to use RVIZ as standalone -->

</launch>
