<launch>

    <!-- LOAD THE PARAMETER LAUNCH FILE (WITH ITS ARGS) ABD LAUNCHES THE HORIZON PUBLISHER NODE (which, based on the config files, reads the correct trajectory and sends it to XBot) -->
    <arg name="launch_pose_init" default="true"/>
    
    <!-- Simply load all the necessary parameters into the parameter server -->
    <include file="$(find awesome_leg_pholus)/launch/load_params.launch" pass_all_args="true"/>

    <!-- loading some additional parameters-->
    <rosparam command="load" file="$(find awesome_leg_pholus)/config/cyclic_test.yaml" subst_value="true"/> 
  
    <node name="horizon_xbot_cyclic_pos_pub" pkg="awesome_leg_pholus" type="horizon_xbot_cyclic_pos_pub.py" output="screen"/> <!-- start the horizon-xbot cyclic pose publisher node-->
    
</launch>