<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    
    <xacro:macro name="awesome_leg_gazebo" params="id add_ft_sensor"  >

    <!--Gazebo-specific tags-->

        <gazebo reference="femur${id}">
            <material>Gazebo/SkyBlue  </material>
        </gazebo>
        <gazebo reference="shin${id}">
            <material>Gazebo/Grey  </material>
        </gazebo>

        <gazebo reference="shin${id}">
            <collision>

                <max_contacts> 1 </max_contacts>

                <surface>
                    <friction>
                        <ode>
                            <mu>20</mu>
                            <mu2>20</mu2>
                        </ode>
                        <bullet>
                            <friction>1.0</friction>
                            <friction2>1.0</friction2>
                        </bullet>
                    </friction>
                    <!-- <contact>
                        <ode>
                            <kp>2100000</kp>
                            <kd>1</kd>
                            <max_vel>100</max_vel>
                        </ode>
                        <bullet>
                            <soft_cfm>0.007</soft_cfm>
                            <soft_erp>0.25</soft_erp>
                            <kp>1000000</kp>
                            <kd>5</kd>
                        </bullet>
                    </contact> -->
                </surface>
            </collision>
        </gazebo>

        <!-- <xacro:if value="${ dump_video_frames== True}">

            <gazebo reference="camera">
                <sensor name="my_camera" type="camera">
                    <camera>
                        <save enabled="true">
                            <path "$(find awesome_leg)/description/urdf/utils.urdf.xacro" >
                        </save>
                        <horizontal_fov>1</horizontal_fov>
                        <image>
                        <width>1920</width>
                        <height>1080</height>
                        </image>
                        <clip>
                        <near>0.1</near>
                        <far>100</far>
                        </clip>
                        <view_controller>orbit</view_controller>
                    </camera>
                    <always_on>1</always_on>
                    <visualize>false</visualize>
                    <update_rate>30</update_rate>
                </sensor>
            </gazebo>

        </xacro:if> -->

        <xacro:if value="${ add_ft_sensor == True}"> 

            <!-- <link name="ft_sensor${id}">
                <inertial>
                    <origin xyz="0.0 0.0 0.0"/>
                    <mass value=""/>
                    <inertia ixx="${4.6647423e+04 * kgmm2_2_kgm2}" iyy="${4.3720135e+04 * kgmm2_2_kgm2}" izz="${7.5794813e+04 * kgmm2_2_kgm2}"
                        ixy="${-1.2697640e+01 * kgmm2_2_kgm2}" ixz="${-3.2745810e+01 * kgmm2_2_kgm2}" iyz="${-6.3299091e+04 * kgmm2_2_kgm2}" />
                </inertial>
                <visual>
                    <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
                    <geometry>
                        <mesh filename="package://awesome_leg/description/new_meshes/visual/femur.stl" scale="${dmTom} ${dmTom} ${dmTom}"/>
                    </geometry>
                    <material name="darkblue"/>
                </visual>
                <collision>
                    <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
                    <geometry>
                        <mesh filename="package://awesome_leg/description/new_meshes/collision/femur.stl" scale="${dmTom} ${dmTom} ${dmTom}"/>
                    </geometry>
                </collision>
            </link> -->

        </xacro:if>
        
    </xacro:macro>

</robot>