<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

<!-- scale -->
<xacro:property name="mmTom" value="0.001" />
<xacro:property name="dmTom" value="0.1" />
<xacro:property name="mm2Tom2" value="${0.001*0.001}" />
<xacro:property name="tonsToKg" value="1000.0" />
<xacro:property name="kgmm2_2_kgm2" value="${1e-06}" />

<xacro:property name="PI" value="3.14159265359" />
<xacro:property name="PI_2" value="1.57079632679" />
<xacro:property name="PI_4" value="0.7853981633974483" />
<xacro:property name="DEG2RAD" value="${PI/180.0}" />

<xacro:property name="sliding_guide_static_friction" value="0.0" />
<xacro:property name="sliding_guide_dyn_friction" value="0.0" />
<!--<xacro:property name="sliding_guide_dyn_friction" value="50.0" />-->

<!--<xacro:property name="base_link_mass_compensation" value="2.0" />
<xacro:property name="payload_mass" value="${0.0 + base_link_mass_compensation}" />-->
<xacro:property name="payload_mass" value="${0.0}" />

<xacro:property name="camera_height" value="0.5" />
<xacro:property name="camera_depth" value="1.0" />

<xacro:property name="fts_sphere_radius" value="0.001" />
<xacro:property name="fts_delta" value="0.000" />
<xacro:property name="aux_mass_tip" value="0.01" />

<!-- color -->
<material name="darkblue">
    <color rgba="0.0 0.3 0.9 1"/>
</material>

<material name="dark">
    <color rgba="0.6 0.6 0.6 1"/>
</material>

<material name="sky_blue">
        <color rgba="0.13 0.44 0.70 1"/>
</material>
<material name="grey">
    <color rgba=" 0.6 0.6 0.6 1"/>
</material>
<material name="black">
    <color rgba="0.4 0.4 0.4 1"/>
</material>
<material name="brown">
    <color rgba="0.59 0.29 0.0 1"/>
</material>

<xacro:macro name="fake_inertial">
    <inertial>
        <mass value="0.1"/>
        <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.0001" iyz="0" izz="0.0001"/>
        <origin xyz="0 0 0"/>
    </inertial>
</xacro:macro>

</robot>
